
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
    @await Component.InvokeAsync("_HeaderViewComponentPartial")
<body>

    <!--header-->
    @await Component.InvokeAsync("_NavbarViewComponentPartial")
    <!--/header-->
    
    <!-- contacts -->
    @RenderBody()
    <!-- //contacts -->
    <!-- footers 20 -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")


</body>

</html>